//Color
$color01: #FFFFFF;
$color02: #707070;
$color03: #000000;
$color04: #5863F8;
$color05: #121212;
$color06: #B1B1B1;
$color07: #3B5998;
$color08: #DC4E41;

//Size
$size01: 11366px;
$size02: 324px;
$size03: 14px;
$size04: 21px;
$size05: 1088px;
$size06: 30px;
$size07: 12px;
$size08: 570px;
$size09: 146px;
$size10: 173px;
$size11: 42px;
$size12: 260px;
$size13: 192px;
$size14: 24px;
$size15: 720px;
$size16: 60px;
$size17: 80px;